.incident-form-container {
  max-width: 70%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border: 2px solid rgb(1, 22, 1);
  border-radius: 12px;

  h2 {
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
  }
}

button {
  width: 50%;

  &:hover {
    background-color: rgba(9, 22, 15, 0.7);
    color: #ffffff;
  }

  &:focus {
    outline: 0.0635rem solid rgb(14, 63, 9);
  }
}

.incident-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

mat-form-field {
  margin-bottom: 1rem;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

@media (max-width: 768px) {
  .incident-form-container {
    max-width: 90%;
  }
  .form-actions {
    flex-direction: column;
    button {
      width: 100%;
    }
  }
}
