<div class="quick-actions">
  <h3>Acciones Rápidas</h3>
  <div class="action-buttons">
    <button mat-raised-button color="accent" routerLink="/checkins">
      <mat-icon>access_time</mat-icon>
      Fichar Entrada/Salida
    </button>
    <button mat-raised-button color="primary" routerLink="/checkins/list">
      <mat-icon>list</mat-icon>
      Ver Fichajes
    </button>
    <button mat-raised-button color="warn" routerLink="/incidents">
      <mat-icon>warning</mat-icon>
      Reportar Incidencia
    </button>
    <button mat-raised-button color="warn" routerLink="/incidents/list">
      <mat-icon>list</mat-icon>
      Ver Incidencias
    </button>
    <button mat-raised-button color="primary" routerLink="/vacations">
      <mat-icon>event</mat-icon>
      Solicitar Vacaciones
    </button>
    <button mat-raised-button color="primary" routerLink="/vacations/list">
      <mat-icon>list</mat-icon>
      Ver Vacaciones
    </button>
  </div>
</div>
