.app-title {
  font-size: 2rem;
  font-weight: medium;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  height: 5rem;
  display: flex;
  align-items: center; // Center items vertically
  flex-wrap: wrap; // Allow items to wrap if necessary
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.nav-buttons {
  display: flex;
  flex-direction: row; // fxLayout
  //flex-wrap: wrap; //fxLayout
  box-sizing: border-box;
  align-content: stretch; // fxLayoutAlign
  align-items: stretch; // fxLayoutAlign
  justify-content: flex-start; // fxLayoutAlign
  cursor: pointer;
}
