:host {
  display: block;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  min-height: 100vh;
}
// /* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
// input:-webkit-autofill,
// select:-webkit-autofill,
// textarea:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0px 1000px #fff inset !important; /* Oculta el color */
//   -webkit-text-fill-color: #000 !important; /* Asegura que el texto sea visible */
// }

// /* Para navegadores Gecko (Firefox) */
// input:-moz-autofill,
// select:-moz-autofill,
// textarea:-moz-autofill {
//   background-color: #fff !important; /* Oculta el color */
//   -moz-box-shadow: 0 0 0px 1000px #fff inset !important;
// }
