.user-list-container {
  width: 80%;
  margin: 40px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border: 2px solid rgb(1, 22, 1);
  border-radius: 12px;
  overflow: hidden;

  h2 {
    text-align: center;
    padding: 20px;
  }

  .loading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .user-list-container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;

    h2 {
      font-size: 1.5rem;
      padding: 10px;
    }
  }
}
